@charset "utf-8";
@keyframes keydown {
  15% {
    transform: translateY(0.35rem);
  }
  70% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes enter {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(15px);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes submitList {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes write {
  to {
    transform: translateX(-10px);
  }
}
@keyframes refresh {
  0% {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  95% {
    width: 100%;
    height: 100%;
  }
  100% {
    background-color: transparent;
    height: 0%;
    width: 0%;
  }
}
.transition {
  z-index: 0;
  animation: refresh 2.8s ease;

  position: absolute;
}
.sunny {
  z-index: 0;

  background-color: #cb7e16;
  opacity: 0.15;
}
.cloud {
  z-index: 0;
  background-color: #4f5455;
  opacity: 0.15;
}
.morning {
  z-index: 0;
  background-color: #f1fbfa;
  opacity: 0.15;
}
.day {
  z-index: 0;
  background-color: #f8cd93;
  opacity: 0.15;
}
.noon {
  z-index: 0;
  background-color: #e93210;
  opacity: 0.15;
}
.night {
  z-index: 0;
  background-color: #1d108e;
  opacity: 0.2;
}
.daystatus {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.pressed {
  animation: keydown 1s ease-out;
}
.first_line {
  display: flex;
}
.second_line {
  display: flex;
}
.third_line {
  display: flex;
}
.submit {
  animation: keydown 2s ease-out 0.2;
}
.write {
  animation: write 2s ease-out 0.2 both;
}
